DISCORD_TOKEN=
PREFIX=!
GUILD_ID=
WELCOME_CHANNEL_ID=
WELCOME_IMAGE=
ROLE_LOG_CHANNEL_ID=1557761485961171085
MUTE_LOG_CHANNEL_ID=1558158698805723226
BAN_LOG_CHANNEL_ID=1558158791659229354
KICK_LOG_CHANNEL_ID=
GENERAL_LOG_CHANNEL_ID=
MC_SERVER_IP=play.khobzasmp.com
MC_STORE_URL=https://store.khobzasmp.com
